<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Program Files\PHP\v8.2\php-cgi.exe" resourceType="Either" />
        </handlers>
        <fastCgi>
            <application fullPath="D:\Program Files\PHP\v8.2\php-cgi.exe">
                <environmentVariables>
                    <environmentVariable name="PHP_INI_SCAN_DIR" value="d:\local\Config" />
                    <environmentVariable name="PHPRC" value="d:\local\Config" />
                    <environmentVariable name="PHP_UPLOAD_MAX_FILESIZE" value="10M" />
                    <environmentVariable name="PHP_POST_MAX_SIZE" value="10M" />
                    <environmentVariable name="PHP_MEMORY_LIMIT" value="256M" />
                    <environmentVariable name="PHP_MAX_EXECUTION_TIME" value="300" />
                    <environmentVariable name="PHP_MAX_INPUT_TIME" value="300" />
                </environmentVariables>
            </application>
        </fastCgi>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="10485760" /> 
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>