<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Program Files\PHP\v8.2\php-cgi.exe" resourceType="Either" />
        </handlers>
        <fastCgi>
            <application fullPath="D:\Program Files\PHP\v8.2\php-cgi.exe">
                <environmentVariables>
                    <environmentVariable name="PHP_INI_SCAN_DIR" value="d:\local\Config" />
                    <environmentVariable name="PHPRC" value="d:\local\Config" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
    <php>
        <configuration>
            <setting name="upload_max_filesize" value="10M" />
            <setting name="post_max_size" value="10M" />
            <setting name="memory_limit" value="256M" />
            <setting name="max_execution_time" value="300" />
            <setting name="max_input_time" value="300" />
        </configuration>
    </php>
</configuration>